<!doctype html>
<html ng-app="empleadosApp">

<head>
    <title>Empleados</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js\index.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body style="background-color: lightsteelblue;">
    <div ng-controller="EmpleadosListController as empleadoList">
        <form target="_blank" method="post" >
            <fieldset>
                <legend>Nuevo Empleado</legend>
                <div>
                    <label for="usuario"><b>Nombre:</b></label>
                    <input type="text" placeholder="Nombre" ng-model="empleadoList.nuevoEmpleadoNombre" required>
                </div>
                <br>
                <div>
                    <label for="passw"><b>Apellido:</b></label>
                    <input type="text" placeholder="Apellido" ng-model="empleadoList.nuevoEmpleadoApellido" required>
                </div>
                <br>
                <div>
                    <label for="passw"><b>Edad:</b></label>
                    <input type="number" placeholder="Edad" ng-model="empleadoList.nuevoEmpleadoEdad" required>
                </div>
                <br>
                <div>
                    <label for="passw"><b>DNI:</b></label>
                    <input type="number" placeholder="DNI" ng-model="empleadoList.nuevoEmpleadoDNI" required>
                </div>
                <br>
                <div>
                    <label for="passw"><b>Puesto:</b></label>
                    <select ng-model="empleadoList.nuevoEstado">
                        <option ng-repeat="estado in empleadoList.EstadosIndex" value="{{estado.estado}}">
                            {{estado.estado}}
                        </option>
                    </select>
                </div>
                <br>

            </fieldset>
                    <button class="btn btn-danger" ng-click="empleadoList.ValidarEmpleado()">Guardar</button>
                    <button class="btn btn-warning" ng-click="empleadoList.SaveModificarEmpleado()">Modificar</button>
        </form>


        <button class="btn btn-primary" ng-click="empleadoList.nuevoEmpleado()">Nuevo</button>
        <button class="btn btn-warning" ng-click="empleadoList.Mostrarempleados()">Empleados</button>
        <a href="estados.html"><button class="btn btn-info"> Estados</button></a>

        <div ng-if="empleadoList.showempleados">
            <h2 style="text-align: center;">Lista de Empleados</h2>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">dni</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empleado in empleadoList.empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.edad}}</td>
                        <td>{{empleado.dni}}</td>
                        <td>{{empleado.estado}}</td>
                        <td>
                            <button class="btn btn-danger"
                                ng-click="empleadoList.delEmpleado(empleado, $index)">Eliminar</button>
                        </td>
                        <td>
                            <button class="btn btn-success"
                                ng-click="empleadoList.ModificarEmpleado(empleado, $index)">Modificar</button>
                        </td>
                    </tr>
                </tbody>

            </table>


        </div>
    </div>
</body>

</html>